 <!--HOME PAGE-->
 <div id="container mh-100">
    <div class="d-flex row ml-auto">
        <div class="col-sm-4 flex-grow-0 border-right bg-primary"><!-- Login -->
            
            <app-account></app-account>


        </div>
        <div class="col-sm-4 flex-grow-0 border-right"><!-- Description -->
            
            <div class="w-50 h-50">
                hi
            </div>

        </div>
        <div class="col-sm-4 flex-grow-0 border-right"><!-- Statistics -->
 
            <div class="w-50 h-50">
                hi
            </div>

        </div>
      </div>
</div>