 <!--HOME PAGE-->
 <div id="container mh-100">
    <div class="d-flex row ml-auto homeFlex">
        <div class="col-sm-4 flex-grow-0 bg-primary homeContainerDiv"><!-- Login -->
            
            <app-account></app-account>


        </div>
        <div class="col-sm-4 flex-grow-0 bg-primary homeContainerDiv"><!-- Description -->
            
            <div class="w-50 h-50">
                Please buy from us!!!!!! we are good!
            </div>

        </div>
        <div class="col-sm-3 flex-grow-0 bg-primary homeContainerDiv"><!-- Statistics -->
 
            <div class="w-50 h-50">
                Picture(img)
                Available products in our store: (number)
                Orders in our store: (number)

            </div>

        </div>
      </div>
</div>