 <!--HOME PAGE-->
 <div id="container mh-100">
    <div class="d-flex row ml-auto homeFlex">
        <div class="col-sm-4 flex-grow-0 bg-primary homeContainerDiv"><!-- Login -->
            
            <app-account></app-account>


        </div>
        <div class="col-sm-4 flex-grow-0 bg-primary homeContainerDiv"><!-- Description -->
            
            <div class="w-50 h-50">
                Please buy from us!!!!!! we are good!
            </div>

        </div>
        <div class="col-sm-3 flex-grow-0 bg-primary homeContainerDiv"><!-- Statistics -->
 
            <div class="w-50 h-50">
                Picture(img)
               <p>Available products in our store: {{productsCounter.count}}</p>
               <p>Number of orders submitted in our store: {{ordersCounter.count}}</p>

                <div class="notificationInfoContainer">

                    <div class="notificationBlock" *ngIf="user.state != 'admin'">

                        <div *ngIf="user.cartItems && user.cartItems.length > 0">

                            You have open cart from date: <span>  {{user.cart.date | date}}</span>
            
                        </div>
                        <div *ngIf="user.orders && user.orders.length > 0">
        
                            Your last purchase was on: <span>  {{user.orders[user.orders.length - 1].creationDate | date}}</span>
        
                        </div>
                        <div *ngIf="user.userName != 'Guest' && !user.cartItems && !user.orders">
        
                            Welcome to your first purchase!
        
                        </div>

                    </div>



                </div>


                
            </div>

        </div>
      </div>
</div>