<div class="col-xs-offset-6 col-xs-3 col-md-offset-4 col-md-4" *ngIf="user.userName!='Guest'">

  <h2>{{editMsg}}</h2>

  <form [formGroup]="editForm">

      <div class="form-group">
          <label>User ID:</label>
          <input type="text" class="form-control" formControlName="id" [value]="editMember.member._id" />
      </div>

      <div class="form-group">
          <label>first Name:</label>
          <input type="text" class="form-control" formControlName="name" [value]="editMember.member.name" />
          <p>{{editForm.controls.name.errors?.err}}</p>
      </div>

      <div class="form-group">
          <label>last Name:</label>
          <input type="text" class="form-control" formControlName="lastName" [value]="editMember.member.lastName" />
          <p>{{editForm.controls.lastName.errors?.err}}</p>
      </div>

      <div class="form-group">
          <label>user Name:</label>
          <input type="text" class="form-control" formControlName="userName" [value]="editMember.member.userName" />
          <p>{{editForm.controls.userName.errors?.err}}</p>
      </div>


      <div class="form-group">
          <label>user Password:</label>
          <input type="password" class="form-control" formControlName="password" />
          <p>{{editForm.controls.password.errors?.err}}</p>
      </div>

      <div class="form-group">
          <label>user Email:</label>
          <input type="email" class="form-control" formControlName="email" [value]="editMember.member.email" />
          <p>{{editForm.controls.email.errors?.err}}</p>
      </div>

      <input class="form-control btn btn-default" type="submit" value="Edit Member" (click)="editUser()" />

  </form>
</div>
