<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="profile">Welcome {{user?.userName}}</span>
        </div>
        <div id="myNavbar">
            <ul class="nav navbar-nav navbar-right">


                <li>
                    <a routerLink="/home">HOME</a>
                </li>
                <li>
                    <a routerLink="/members">Members</a>
                </li>

                <li>
                    <a routerLink="/account">ACCOUNT</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
